body {
    font: 400 15px/24px "Roboto";
    font-family: 'Roboto';
}
.main__body {
    position: relative;
}
.main__about-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
    position: relative;
    background-color: #f4f4f4;
}
.header__nav{
    display: flex;
    margin: 8px 123px;
}
.header__nav{
    font-size: 14px;
}
.header_list {
    text-transform: uppercase;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    padding: 0px 14px;
}
.header_link a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
}
.header_btn {
    margin-left: 90px;
}
.under_header{
    padding: 31px 0px;
}
.under_header-box{
    display: flex;
    padding: 0px 0px;
    justify-content: space-between;
}
.under_header-img{
    padding-top: 13px;
}
.under_header-call-center span{
    font-weight: 500;
    font-size: 16px;
}
.under_header-call-center a{ 
    background-color: #dbdbdb;
    border: 1px solid #f4f4f4;
    border-radius: 35px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 12px 0px;
    margin: 7px 0px;
    font-size: 14px;
}
.under_header-work-title{
    margin-bottom: 15px;
}
.under_header-work-title img{
    margin-bottom: 5px;
}
.under_header-work-title span{
    margin-left: 6px;
}
.site_search img{
    margin: 0px 5px;
}
.under_header-info-work a{
    text-decoration: none;
    border: 2px solid #e5efe6;
    border-radius: 15px;
    padding: 8px 180px 10px 5px;
}
.under_header-shopping-cart{
    margin: 33px 0px;
}
.main_paggination{
    background-color: #78b750;
    padding-top: 5px;
}
.main_paggination-link{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    padding: 9px 0px;
    font-weight: 500;
}
.main_paggination-link a{
    color: #FFF;
    text-decoration: none;
    padding-right: 53px;
}
.paggination_link{
    border-right: 3px solid white;

}
.main_paggination-link{
    /* border-right: 3px solid white; */
}
.main_paggination-link a:visited {
    text-decoration: none;
    color: #FFF;
}
.selection_section-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px 63px;
}
.selection_section-box h3{
    text-transform: uppercase;
    font-weight: 700px;
}
.selection_slider-link{
    text-align: start;
    margin: 10px 0px;
    /* display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px 0px; */
}
.selection_slider-link a:visited {
    text-decoration: none;
    color: #78b750;
}
.slider_link{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.selection_slider-link a{
    margin-right: 70px;
}
.active{
    border-bottom: 3px solid #78b750;
}
.selection_slider-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px 50px;
    
}
.selection_slider-item{
    border: 2px solid #848a7f9d;
    border-radius: 3px;
    /* width: 263px; */
}
.slider_item-title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 8px 0px;
}
.selection_slider-item img{
    width: 178px;
    height: 205px;
    margin: 5px 30px;
}
.slider_item-price{
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
}
.selection_slider-item button{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    width: 107px;
    color: #FFF;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: #78b750;
    padding: 9px 0px;
    margin: 8px 66px;
}
.section_feedback{
    background: url(../img/bg-feedback.png);
}
.section_feedback-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px 120px;
}
.section_feedback-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.section_feedback-subtitle{
    font-size: 18px;
    font-weight: 500;
}
.feedback-phone{
    background-color: #ffffffd5;
    padding: 15px 130px 10px 20px;
    margin: 15px 0px;
    border-radius: 15px;
    font-size: 16px;
    font-style: oblique;
    color: #3f3e3e;
}
.section_feedback-btn{
    text-align: center;
}
.section_feedback-btn button{
    background-color: #78b750;
    margin-top: 18px;
    padding: 10px 90px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 40px;
}
.about_shop-info{
    padding: 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px 0px;
}
.about_shop-title{
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #3f3e3e;
    text-align: center;
    width: 266px;
}
.about_shop-item{
    padding-top: 25px;
    align-items: flex-start;
}
.about_shop-item img{
    width: 35px;
    height: 35px;
    margin: 5px 115px;
}
.about_shop-subtitle{
    margin-top: 5px;
    text-align: center;
}
footer{
background-color: #78b750;
}
.footer_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px 40px;
    padding-right: 0px;
}
.footer_item{

}
.footer_item-title{
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
}
.footer_item-subtitle{
    margin-right: 110px;
    font-weight: 600;
    margin-top: 10px;
    width: 100%;
    font-size: 13px;
}
.footer_img{
    padding: 34px 0px;
}
.active-slider{
    border: 3px solid #78b750;
}

.about_shop-main-title:before,
.about_shop-main-title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    height: 2px;
    background-color: #acacac;
    position: relative;
}
.about_shop-main-title:before {
    margin-left: -100%;
    left: -14px;
}
.about_shop-main-title:after {
    margin-right: -100%;
    right: -14px;
}